<div class="card h-100 d-flex flex-column mt-5">
  <img
    [src]="recipe.thumbnail"
    class="card-img-top fixed-img"
    alt="{{ recipe.title }}"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text flex-grow-1">{{ recipe.description }}</p>
    <a class="btn btn-primary mt-auto" (click)="details()">Check Recipe</a>
    <a class="btn btn-warning mt-1" (click)="saveToFavorites()">{{
      recipe.isFavorite ? "Remove from Favorites" : "Add to Favorites"
    }}</a>
  </div>
</div>
